[project]
	description = An django app for a reccommender engine for eCommerce sites
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John Wanjohi (dextraz)
[access "refs/for/refs/*"]
	read = group user/John Wanjohi (dextraz)
	push = group user/John Wanjohi (dextraz)
	label-Code-Review = -2..+2 group user/John Wanjohi (dextraz)
	label-Verified = -1..+1 group user/John Wanjohi (dextraz)
	rebase = group user/John Wanjohi (dextraz)
	removeReviewer = group user/John Wanjohi (dextraz)
	submit = group user/John Wanjohi (dextraz)
[access "refs/heads/*"]
	read = group user/John Wanjohi (dextraz)
	create = group user/John Wanjohi (dextraz)
	push = +force group user/John Wanjohi (dextraz)
	pushMerge = group user/John Wanjohi (dextraz)
[access "refs/tags/*"]
	push = +force group user/John Wanjohi (dextraz)
	pushTag = group user/John Wanjohi (dextraz)
	pushSignedTag = group user/John Wanjohi (dextraz)
